*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 16px;
}

header{
    background-color: lightcoral;
    color: white;
}

h1{
    color: burlywood;
}

h2{
    padding: 20px;
    color: brown;
    border: 2 solid black;
    border-radius: 10px;
}